In [5]:
import pandas as pd
import re 
import string 

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [91]:
data = pd.read_csv('./data/dataset.csv', encoding="latin-1")

In [87]:
data.head(15)

    ï»¿Item ID  Sentiment                                      SentimentText
0            1          0  @RailMinIndia My PNR is 8348062961, I am in wa...
1            2          0  @sureshpprabhu @RailMinIndia AC not working in...
2            3          0  @RailMinIndia I'm traveling to chennai by trai...
3            4          5  @RailMinIndia irctc is not responding at the t...
4            5          7  @DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...
5            6          6  @RailMinIndia If you can't give justice to gra...
6            7          4  @sureshpprabhu @RailMinIndiaPlz wrkout smthng ...
7            8          0  @RailMinIndia @mumbairailusers Dirty water flo...
8            9          6  Enter to win $150 Amazon Gift Card! #Books #PN...
9           10          3  @RailMinIndia still vendors are selling local ...
10          11          4  @Central_Railway @RailMinIndia @drmmumbaicr pl...
11          12          0  @RailMinIndia #Swatch Bharat Abhiyaan# Train s...
12          13          5  @RailMinIndia @sureshpprabhu my reserved ticke...
13          14          4  @RailMinIndia  update:- today intercity 12930 ...
14          15          0  @RailMinIndia  TRAIN NO 12656 THERE IS NO PROP...

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366 entries, 0 to 1365
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1366 non-null   int64
 1   Ã¯Â»Â¿Item ID  1366 non-null   int64
 2   Sentiment      1366 non-null   int64
 3   SentimentText  1366 non-null   object
dtypes: int64(3), object(1)
memory usage: 42.8+ KB

In [88]:
data.to_csv("modified_dataset.csv")

In [89]:
data.isnull()

      ï»¿Item ID  Sentiment  SentimentText
0          False      False          False
1          False      False          False
2          False      False          False
3          False      False          False
4          False      False          False
...          ...        ...            ...
1361       False      False          False
1362       False      False          False
1363       False      False          False
1364       False      False          False
1365       False      False          False

[1366 rows x 3 columns]

In [ ]:
data.rename(columns={"ï»¿Item ID": "Item ID"}, inplace=True)

In [93]:
data.head()

   Item ID  Sentiment                                      SentimentText
0        1          0  @RailMinIndia My PNR is 8348062961, I am in wa...
1        2          0  @sureshpprabhu @RailMinIndia AC not working in...
2        3          0  @RailMinIndia I'm traveling to chennai by trai...
3        4          5  @RailMinIndia irctc is not responding at the t...
4        5          7  @DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...

In [160]:
data.to_csv("modified_dataset.csv")

In [161]:
df = pd.read_csv("./data/modified_dataset.csv", index_col=0)  
df.to_csv("modified_dataset.csv", index=False)

In [162]:
df.head()

   Item ID  Sentiment                                      SentimentText
0        1          0  @RailMinIndia My PNR is 8348062961, I am in wa...
1        2          0  @sureshpprabhu @RailMinIndia AC not working in...
2        3          0  @RailMinIndia I'm traveling to chennai by trai...
3        4          5  @RailMinIndia irctc is not responding at the t...
4        5          7  @DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...

In [163]:
df['SentimentText_Copy'] = df['SentimentText']
df.to_csv("updated_dataset.csv", index=False)

In [164]:
df.head()

,Item ID,Sentiment,SentimentText,SentimentText_Copy
0,1,0,"@RailMinIndia My PNR is 8348062961, I am in wa...","@RailMinIndia My PNR is 8348062961, I am in wa..."
1,2,0,@sureshpprabhu @RailMinIndia AC not working in...,@sureshpprabhu @RailMinIndia AC not working in...
2,3,0,@RailMinIndia I'm traveling to chennai by trai...,@RailMinIndia I'm traveling to chennai by trai...
3,4,5,@RailMinIndia irctc is not responding at the t...,@RailMinIndia irctc is not responding at the t...
4,5,7,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...

In [165]:
df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(r'@\w+', '', regex=True).str.strip()

In [166]:
df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(r'\d+', '', regex=True).str.strip()

In [167]:
df.to_csv("updated_dataset.csv", index=False)

In [168]:
df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()

In [169]:
df['SentimentText_Copy'] = df['SentimentText_Copy'].str.lower()

In [ ]:
words_to_remove = r'\b(is|in|but|there)\b'  
df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(words_to_remove, '', regex=True).str.strip()

In [172]:
df.head()

,Item ID,Sentiment,SentimentText,SentimentText_Copy
0,1,0,"@RailMinIndia My PNR is 8348062961, I am in wa...",my pnr i am way no water toilet and mes...
1,2,0,@sureshpprabhu @RailMinIndia AC not working in...,ac not working prayag lucknow intercity today...
2,3,0,@RailMinIndia I'm traveling to chennai by trai...,im traveling to chennai by train coach s my b...
3,4,5,@RailMinIndia irctc is not responding at the t...,irctc not responding at the time of tatkal bo...
4,5,7,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...,matter notified to concerned official

In [173]:
df.to_csv("updated_dataset.csv", index=False)

In [35]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\swaya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [30]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\swaya\AppData\Roaming\nltk_data...

True

In [44]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\swaya\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [47]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

input_str = "been had done languages cities mice"

input_tokens = word_tokenize(input_str)

lemmatized_words = [lemmatizer.lemmatize(word) for word in input_tokens]

In [49]:
df.head(15)

,Item ID,Sentiment,SentimentText,SentimentText_Copy
0,1,0,"@RailMinIndia My PNR is 8348062961, I am in wa...",my pnr i am way no water toilet and mess every...
1,2,0,@sureshpprabhu @RailMinIndia AC not working in...,ac not working prayag lucknow intercity today ...
2,3,0,@RailMinIndia I'm traveling to chennai by trai...,im traveling to chennai by train coach s my be...
3,4,5,@RailMinIndia irctc is not responding at the t...,irctc not responding at the time of tatkal boo...
4,5,7,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...,matter notified to concerned official
5,6,6,@RailMinIndia If you can't give justice to gra...,if you cant give justice to graduate engineer ...
6,7,4,@sureshpprabhu @RailMinIndiaPlz wrkout smthng ...,wrkout smthng tht cn hlp train to run on right...
7,8,0,@RailMinIndia @mumbairailusers Dirty water flo...,dirty water flowing ftm blower of local coach ...
8,9,6,Enter to win $150 Amazon Gift Card! #Books #PN...,enter to win amazon gift card book pnr urbanfa...
9,10,3,@RailMinIndia still vendors are selling local ...,still vendor are selling local local product l...
10,11,4,@Central_Railway @RailMinIndia @drmmumbaicr pl...,please update the status of today ltt ppta exp...
11,12,0,@RailMinIndia #Swatch Bharat Abhiyaan# Train s...,swatch bharat abhiyaan train stop at kozhikodc...
12,13,5,@RailMinIndia @sureshpprabhu my reserved ticke...,my reserved ticket wa been allotted to rac pas...
13,14,4,@RailMinIndia update:- today intercity 12930 ...,update today intercity late min
14,15,0,@RailMinIndia TRAIN NO 12656 THERE IS NO PROP...,train no no proper water service train kindly ...

'better'