In [1]:
import pandas as pd
import re 
import string 

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [36]:
# Download necessary NLTK resources
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /home/nihar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/nihar/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/nihar/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
data = pd.read_csv('./data/dataset.csv', encoding="latin-1")

In [13]:
data.head()

   ï»¿Item ID  Sentiment                                      SentimentText
0           1          0  @RailMinIndia My PNR is 8348062961, I am in wa...
1           2          0  @sureshpprabhu @RailMinIndia AC not working in...
2           3          0  @RailMinIndia I'm traveling to chennai by trai...
3           4          5  @RailMinIndia irctc is not responding at the t...
4           5          7  @DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366 entries, 0 to 1365
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ï»¿Item ID     1366 non-null   int64
 1   Sentiment      1366 non-null   int64
 2   SentimentText  1366 non-null   object
dtypes: int64(2), object(1)
memory usage: 32.1+ KB

In [15]:
data.isnull().sum()

ï»¿Item ID       0
Sentiment        0
SentimentText    0
dtype: int64

In [16]:
data.rename(columns={"ï»¿Item ID": "Item ID"}, inplace=True)

In [17]:
data.head()

   Item ID  Sentiment                                      SentimentText
0        1          0  @RailMinIndia My PNR is 8348062961, I am in wa...
1        2          0  @sureshpprabhu @RailMinIndia AC not working in...
2        3          0  @RailMinIndia I'm traveling to chennai by trai...
3        4          5  @RailMinIndia irctc is not responding at the t...
4        5          7  @DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...

In [18]:
data['SentimentText_Copy'] = data['SentimentText']

In [19]:
data.head()

,Item ID,Sentiment,SentimentText,SentimentText_Copy
0,1,0,"@RailMinIndia My PNR is 8348062961, I am in wa...","@RailMinIndia My PNR is 8348062961, I am in wa..."
1,2,0,@sureshpprabhu @RailMinIndia AC not working in...,@sureshpprabhu @RailMinIndia AC not working in...
2,3,0,@RailMinIndia I'm traveling to chennai by trai...,@RailMinIndia I'm traveling to chennai by trai...
3,4,5,@RailMinIndia irctc is not responding at the t...,@RailMinIndia irctc is not responding at the t...
4,5,7,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...

In [165]:
# df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(r'@\w+', '', regex=True).str.strip()
#df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(r'\d+', '', regex=True).str.strip()
#df['SentimentText_Copy'] = df['SentimentText_Copy'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()

In [20]:
text = re.sub(r'@\w+' , '' , '@RailMinIndia My PNR is 8348062961, I am in way but there is no water in toilet and mess is everywhere in coach. please provide basic facil.')
print(text)

 My PNR is 8348062961, I am in way but there is no water in toilet and mess is everywhere in coach. please provide basic facil.

In [22]:
text = re.sub(r'\d+', '', text)
print(text)

 My PNR is , I am in way but there is no water in toilet and mess is everywhere in coach. please provide basic facil.

In [23]:
text = text.translate(str.maketrans('', '', string.punctuation))
print(text)

 My PNR is  I am in way but there is no water in toilet and mess is everywhere in coach please provide basic facil

In [24]:
text = text.lower()

In [25]:
tokens = word_tokenize(text)
print(tokens)

['my', 'pnr', 'is', 'i', 'am', 'in', 'way', 'but', 'there', 'is', 'no', 'water', 'in', 'toilet', 'and', 'mess', 'is', 'everywhere', 'in', 'coach', 'please', 'provide', 'basic', 'facil']

In [32]:
lemmatizer = WordNetLemmatizer()
stop_words = stopwords.words('english')

In [33]:
print(type(stop_words))

<class 'list'>

In [35]:
cleaned_tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]
print(cleaned_tokens)

['pnr', 'way', 'water', 'toilet', 'mess', 'everywhere', 'coach', 'please', 'provide', 'basic', 'facil']

In [37]:
def clean_text(text):
    # handeling the null value
    if pd.isna(text):
        return ""
    
    text = re.sub(r'@\w+' , '', text) # removing mentions (@)
    text = re.sub(r'\d+','',text) # removing numbers
    
    # removing special characters and punctuation (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)
    cleaned_text = text.translate(str.maketrans('','',string.punctuation))
    
    text.lower()
    
    #tokeniztion
    tokens  = word_tokenize(text)
    
    # lemmentization (converting words to their root form)
    cleaned_tokens= [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]
    
    return ' '.join(cleaned_tokens)

In [39]:
data['Clean_text'] = data['SentimentText'].apply(clean_text)

In [41]:
print(data['Clean_text'])

0       My PNR , I way water toilet mess everywhere co...
1       AC working prayag lucknow intercity today depa...
2       I 'm traveling chennai train coach S- . My ber...
3                  irctc responding time tatkal booking .
4                      Matter notified concerned official
                              ...
1361    An aged lady alloted upper berth train . . PNR...
1362    aggressive copassengers , need immediate chang...
1363    water coach ... please something ... train . ,...
1364    While travelling Train No./Name : / DURONTO EX...
1365                                http : //t.co/fPFSDcJ
Name: Clean_text, Length: 1366, dtype: object

In [51]:
data = data.drop(columns='SentimentText_Copy')

In [52]:
data.head()

,Item ID,Sentiment,SentimentText,Clean_text
0,1,0,"@RailMinIndia My PNR is 8348062961, I am in wa...","My PNR , I way water toilet mess everywhere co..."
1,2,0,@sureshpprabhu @RailMinIndia AC not working in...,AC working prayag lucknow intercity today depa...
2,3,0,@RailMinIndia I'm traveling to chennai by trai...,I 'm traveling chennai train coach S- . My ber...
3,4,5,@RailMinIndia irctc is not responding at the t...,irctc responding time tatkal booking .
4,5,7,@DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...,Matter notified concerned official

In [53]:
data.to_csv('./data/clean_data.csv')