In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('./data/dataset.csv', encoding="latin-1")

In [5]:
data.head()

   ï»¿Item ID  Sentiment                                      SentimentText
0           1          0  @RailMinIndia My PNR is 8348062961, I am in wa...
1           2          0  @sureshpprabhu @RailMinIndia AC not working in...
2           3          0  @RailMinIndia I'm traveling to chennai by trai...
3           4          5  @RailMinIndia irctc is not responding at the t...
4           5          7  @DRMbhopal @RailMinIndia @sanjaygupta2012 @drm...